.box{
    text-align: center;
}
.container{
    margin-top: 5vh;
    /* border: 2px solid crimson; */
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    flex-wrap: wrap;
    img{
        margin-top: 1vh;
        margin-right: 2vh;
        filter: grayscale(70%);
        width: 7vh;
        height: 7vh;
    }

    hr{
        width: 40%;
    }
}

.heading{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(131, 127, 127);
    box-shadow: rgb(82, 82, 82);
    border-radius: 24px;
    border: none;
    font-size: 3vh;
    font-weight: 500;
    width: 25vh;
    height: 7vh;
    text-align: center;
}