.list{
    display: flex;
    flex-wrap: wrap;
    display: flex;    
    justify-content: space-evenly;
    align-self: center;

}

.list p{
    font-size: 3vh;
    /* border: 2px solid wheat; */
    color: aliceblue;
}